<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.pims.finance.wallet.mapper.WalletClassMapper">

    <resultMap id="BaseResultMap" type="com.huang.pims.finance.wallet.model.WalletClass">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="classIcon" column="class_icon" jdbcType="VARCHAR"/>
        <result property="className" column="class_name" jdbcType="VARCHAR"/>
        <result property="classDesc" column="class_desc" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createdBy" column="created_by" jdbcType="BIGINT"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="updated_by" jdbcType="BIGINT"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <sql id="Base_Column_List">id, class_icon, class_name, class_desc, status, created_by, created_at, updated_by, updated_at</sql>

    <select id="selectByPrimaryKey" parameterType="Long" resultMap="BaseResultMap">
        select 
        id, class_icon, class_name, class_desc, status, created_by, created_at, updated_by, updated_at        
        from finance_wallet_class
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="selectAll" resultMap="BaseResultMap">
        select 
        id, class_icon, class_name, class_desc, status, created_by, created_at, updated_by, updated_at        
        from finance_wallet_class
    </select>
    
    <select id="selectByStatus" parameterType="string" resultMap="BaseResultMap">
        select 
        id, class_icon, class_name, class_desc, status, created_by, created_at, updated_by, updated_at        
        from finance_wallet_class
        where status = #{status,jdbcType=CHAR}
    </select>
    
    <insert id="insert" parameterType="com.huang.pims.finance.wallet.model.WalletClass" keyProperty="id" useGeneratedKeys="true">
        insert into finance_wallet_class(id, class_icon, class_name, class_desc, created_by)
        values (#{id,jdbcType=BIGINT}, #{classIcon,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{classDesc,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT})
    </insert>
    
    <insert id="insertSelective" parameterType="com.huang.pims.finance.wallet.model.WalletClass" keyProperty="id" useGeneratedKeys="true">
        insert into finance_wallet_class 
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="classIcon != null and classIcon != ''">
                class_icon,
            </if>
            <if test="className != null and className != ''">
                class_name,
            </if>
            <if test="classDesc != null and classDesc != ''">
                class_desc,
            </if>
            <if test="status != null and status != ''">
                status,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="classIcon != null and classIcon != ''">
                #{classIcon,jdbcType=VARCHAR},
            </if>
            <if test="className != null and className != ''">
                #{className,jdbcType=VARCHAR},
            </if>
            <if test="classDesc != null and classDesc != ''">
                #{classDesc,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
        </trim> 
    </insert>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.huang.pims.finance.wallet.model.WalletClass">
    update finance_wallet_class
    <set>
        <if test="classIcon != null and classIcon != ''">
            class_icon = #{classIcon,jdbcType=VARCHAR},
        </if>      
        <if test="className != null and className != ''">
            class_name = #{className,jdbcType=VARCHAR},
        </if>      
        <if test="classDesc != null and classDesc != ''">
            class_desc = #{classDesc,jdbcType=VARCHAR},
        </if>      
        <if test="status != null and status != ''">
            status = #{status,jdbcType=VARCHAR},
        </if>
        <if test="updatedBy != null">
            updated_by = #{updatedBy,jdbcType=BIGINT},
        </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
    </update>
    
    <update id="updateByPrimaryKey" parameterType="com.huang.pims.finance.wallet.model.WalletClass">
    update finance_wallet_class
    <trim prefix="set " suffix=" " suffixOverrides=",">
        class_icon = #{classIcon,jdbcType=VARCHAR},
        class_name = #{className,jdbcType=VARCHAR},
        class_desc = #{classDesc,jdbcType=VARCHAR},
        updated_by = #{updatedBy,jdbcType=BIGINT},
    </trim>
    where id = #{id,jdbcType=BIGINT}
    </update>
    
    <delete id="deleteByPrimaryKey" parameterType="Long">
        delete from finance_wallet_class where id = #{id,jdbcType=BIGINT}
    </delete>

</mapper>